body {
    font-family: 'DynaPuff', sans-serif;
    text-align: center;
    background-color: #e0dfd5;
    padding-top: 100px;
}

h1 {
    font-family: 'DynaPuff', sans-serif;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: bold;
    color:#f06543;
}
.timercontainer {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    display: flex;
}
/* TOMATO */
.container {
    background: #f06543;
    width: 475px;
    height: 475px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-family: 'DynaPuff', sans-serif;
    text-align: center;
    gap: 20px;
    position: relative; 
    overflow: hidden;   
}

/*shine effect*/
.container::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 40px;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4), transparent 60%);
    border-radius: 50%;
    pointer-events: none; 
    transform: rotate(-20deg);
}

.tomato-stalk {
  width: 160px; 
  position: relative;
  top: 40px;
  margin-bottom: -60px; 
  z-index: 2;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


#timer {
  font-size: 60px;
  margin: 20px 0;
  color: #e0dfd5;
  background: #04AA6D;
  padding: 15px 25px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 9px #02492f;
  font-family: 'DynaPuff', sans-serif;
}

#timer[contenteditable="true"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #04AA6D;
  background-color: #056c4b;
  cursor: text;
}

#start {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #e0dfd5;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #02492f;
  font-family: 'DynaPuff', sans-serif;
}

#start:hover {background-color: #046944}

#start.active {
  background-color: #02492f;
  box-shadow: 0 5px #011f14;
  transform: translateY(4px);
}


#pause {
  font-family: 'DynaPuff', sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #e0dfd5;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #02492f;
}

#pause:hover {background-color: #046944}

#pause.active {
  background-color: #02492f;
  box-shadow: 0 5px #011f14;
  transform: translateY(4px);
}

#reset {
  font-family: 'DynaPuff', sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #e0dfd5;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #02492f;
}

#reset:hover {background-color: #046944}

#reset:active {
  background-color: #02492f;
  box-shadow: 0 5px #011f14;
  transform: translateY(4px);
}

#workbtn {
  font-family: 'DynaPuff', sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #e0dfd5;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #02492f;
}

#workbtn:hover {background-color: #046944}

#workbtn:active {
  background-color: #02492f;
  box-shadow: 0 5px #011f14;
  transform: translateY(4px);
}
#restbtn {
  font-family: 'DynaPuff', sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #e0dfd5;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #02492f;
}

#restbtn:hover {background-color: #046944}

#restbtn:active {
  background-color: #02492f;
  box-shadow: 0 5px #011f14;
  transform: translateY(4px);
}